/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default
}

/* to include dark mode:
@plugin "daisyui"{
  themes: 
    cupcake --default, 
    dracula --prefersdark
  ;
}
*/

/* previously used theme, had bad 'accent' colors for selected links
@plugin "daisyui"{
  themes: garden --default
} */
